BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "RaspiIrq_o" SITE "11" ;
IOBUF PORT "RaspiIrq_o" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;
LOCATE COMP "SpiSte_i" SITE "69" ;
FREQUENCY NET "s_sys_clk" 26.600000 MHz ;
